@charset 'UTF-8';

@import 'variables';
@import 'reset';


.swiper-pagination-bullet{
	width: 0.59375rem;
	height: 0.0625rem;
    border-radius:$Zero;
    opacity: 1;
	background-color: #171129;
}
.swiper-pagination-bullet-active{
	background-color:$white;
}
