$font-family:sans-serif;

/* 字体 */
$font-14:14px;
$font-16:16px;

/* 颜色 */
$white:#ffffff;
$yellow:#ac946d;

/* 边框 */
$border:1px solid;

/* position属性 */
$fixed:fixed;
$relative:relative;
$absolute:absolute;

/* display属性 */
$block:block;
$inline-block:inline-block;

/* background属性 */
$no-repeat:no-repeat;
$cover:cover;

/* float属性 */
$left:left;
$right:right;

/* 其他属性 */
$Zero:0;
$hundred:100%;
$center:center;
$hidden:hidden;
$auto:auto;



